# Ambiente virtual
venv/

# Cache e arquivos temporários do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos temporários de IDEs
.vscode/
.idea/

# Banco de dados local (SQLite)
instance/
*.db
*.sqlite3

# Configurações e variáveis de ambiente
.env
*.env

# Logs e backups
*.log
*.bak

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de build/deploy (se usar futuramente)
build/
dist/
*.egg-info/
