# Este arquivo é um exemplo de como o arquivo .env deve ser configurado.
# COPIE este arquivo para .env e preencha com seus valores secretos.

# A MASTER_PASSWORD é usada para permitir o cadastro de novos usuários.
MASTER_PASSWORD="SUA_SENHA_MESTRA_AQUI"


# A ADMIN_PASSWORD é a senha inicial do usuário 'admin' criada no banco de dados.
ADMIN_PASSWORD="SUA_SENHA_ADMIN_INICIAL_AQUI"
