body{
margin: 0;
display: flex;
height: 100vh;
justify-content: center; /* centraliza horizontalmente */
background-color: #ffffff; /* opcional, só pra destacar */
font-family: 'Poppins', sans-serif; /* aplica a fonte */
}
.container-principal{
    display: flex;
    justify-content: center;
    gap: 0;
    margin: 0;
}
.logo{
    width: 250px;
    height: auto;
    margin-bottom: 0; /* garante que a imagem não adicione espaço extra */
}
