<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar turmas</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/styleconfigadmin.css')}}"
    />
    <link
      rel="shortcut icon"
      href="{{url_for('static', filename='images/faviconcrisma.ico')}}"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
</head>
<body>
<header>
      <div class="header-left">
        <img
          src="{{url_for('static', filename='images/logocrismamaior.png')}}"
          alt="Logo da crisma"
          class="logo"
        />
        <h1 class="title-center">Chamada da Crisma</h1>
      </div>
      <form action="{{url_for('logout_user')}}" method="post">
        <button class="button-logout">Sair</button>
      </form>
    </header>
<!-- No main é renderizado a tabela usando jinja que usa um for com base na variavel turmas enviada pelo app.py -->
<main>
    <div class="container-principal">
    <button onclick="OpenModalTurmas()">Criar Turma</button>
    <dialog id="modalturmas">
        <form action="{{ url_for('create_turma') }}" method="post" class="form-modal">
            <label for="name">Digite o Nome da nova turma</label>
            <input type="text" name="name">

            <input type="submit" value="criar">
            <button onclick="CloseModalTurmas()" type="button" >Fechar</button>
        </form>
    </dialog>
    {% if msgturmas %}
            <p class="message-turmas">{{ msgturmas }}</p>
    {% endif %}
            <h2>Turmas Cadastradas</h2>
            {% if turmas %}
                <table class="tabela-turmas">
                    {% for turma in turmas %}
                        <thead>
                            <tr>    
                                <th>{{turma.turma_name}}</th>
                                <th>
                                    <form action="{{ url_for('delete_turma', turma_id = turma.id , nome=turma.turma_name) }}" method="post">
                                        <button type="submit">EXCLUIR</button>
                                    </form>
                                </th>
                            </tr>
                        </thead>
                    {% endfor %}
                    <tbody>
                        <!-- Dedicado para nome dos crismandos -->
                    </tbody>
                </table>
            {% else %}
                <p>Nenhuma turma cadastrada ainda.</p>
            {% endif %}
</main>
<script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>
</html>