<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configurações</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/stylehomepage.css')}}"
    />
    <link
      rel="shortcut icon"
      href="{{url_for('static', filename='images/faviconcrisma.ico')}}"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <header>
      <div class="header-left">
        <img
          src="{{url_for('static', filename='images/logocrismamaior.png')}}"
          alt="Logo da crisma"
          class="logo"
        />
        <h1 class="title-center" onclick="window.location.href='/homepage'" >Chamada da Crisma</h1>
      </div>
      <form action="{{url_for('logout_user')}}" method="post">
        <button class="button-logout">Sair</button>
      </form>
    </header>
    <div class="container-principal">
    <h1>Configurações</h1>
    {% if request.args.get('msg') %}
      <div class="mensagem" role="alert">{{ request.args.get('msg') }}</div>
    {% endif %}
      <main class="dashboard">
        <section class="cards-grid">
          <!-- Card 1: Chamada Presença (todos veem) -->
          <article class="card">
            <h2>Adicionar Crimando</h2>
            <p>Edite a lista de crismandos</p>
            <a href="{{url_for('list_crismandos') }}" class="btn">Acessar</a>
          </article>

          <!-- Card 2: Lista de Crismandos (todos veem) -->
          <article class="card">
            <h2>Turmas</h2>
            <p>Visualize, edite e gerencie as turmas da crisma.</p>
            <a href="{{ url_for('list_turmas') }}" class="btn">Acessar</a>
          </article>

          <!-- Card 3: Relatórios (todos veem) -->
          <article class="card">
            <h2>Encontros</h2>
            <p>Crie Encontros e visualize todos os já criados</p>
            <a href="{{ url_for('list_meetings')}}" class="btn">Acessar</a>
          </article>

          <article class="card">
            <h2>Resetar Sistema</h2>
            <p>Resete todo o sistema para inicar nova caminhada!</p>
            <button onclick="OpenModalconfirmationreset()" class="btn">Acessar</button>
          </article>
        </section>

        <dialog id="deletesystem">
        <form action="{{url_for('reset_database')}}" method="post">
        <p>OBS: Esta ação é irrreversivel</p>
        <p id="menor">Se sim digite a senha mestre:</p>
        <input type="password" name="senhamestre">
        <button type="submit">SIM</button>
        <button type="button" id="btnn" onclick="CloseModalconfirmationreset()">Cancelar</button>
        </form>
    </dialog>
      </main>
    <script src="{{url_for('static', filename='scripts/script.js')}}"></script>
</body>
</html>