<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configurações</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/stylehomepage.css')}}"
    />
    <link
      rel="shortcut icon"
      href="{{url_for('static', filename='images/faviconcrisma.ico')}}"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <header>
      <div class="header-left">
        <img
          src="{{url_for('static', filename='images/logocrismamaior.png')}}"
          alt="Logo da crisma"
          class="logo"
        />
        <h1 class="title-center" onclick="window.location.href='/homepage'" >Chamada da Crisma</h1>
      </div>
      <form action="{{url_for('logout_user')}}" method="post">
        <button class="button-logout">Sair</button>
      </form>
    </header>
    <div class="container-principal">
    <h1>Configurações</h1>
      <main class="dashboard">
        <section class="cards-grid">
          <!-- Card 1: Chamada Presença (todos veem) -->
          <article class="card">
            <h2>Adicionar Crimando</h2>
            <p>Edite a lista de crismandos</p>
            <a href="{{url_for('list_crismandos') }}" class="btn">Acessar</a>
          </article>

          <!-- Card 2: Lista de Crismandos (todos veem) -->
          <article class="card">
            <h2>Turmas</h2>
            <p>Visualize, edite e gerencie as turmas da crisma.</p>
            <a href="{{ url_for('list_turmas') }}" class="btn">Acessar</a>
          </article>

          <!-- Card 3: Relatórios (todos veem) -->
          <article class="card">
            <h2>Relatórios</h2>
            <p>Gere relatórios de frequência e progresso.</p>
            <a href="" class="btn">Gerar</a>
          </article>
        </section>
      </main>

</body>
</html>