<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Crismandos</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='images/faviconcrisma.ico')}}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <form action="">
        <label for="add">Adicionar Novo crismando</label>
        <input type="text" name="add">
    </form>
    
</body>
</html>