<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página Principal</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/stylehomepage.css')}}"
    />
    <link
      rel="shortcut icon"
      href="{{url_for('static', filename='images/faviconcrisma.ico')}}"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="header-left">
        <img
          src="{{url_for('static', filename='images/logocrismamaior.png')}}"
          alt="Logo da crisma"
          class="logo"
        />
        <h1 class="title-center" onclick="window.location.href='/homepage'" >Chamada da Crisma</h1>
      </div>
      <form action="{{url_for('logout_user')}}" method="post">
        <button class="button-logout">Sair</button>
      </form>
    </header>

    <div class="container-principal">
      <h1>Bem-Vindo {{ session.get('loged_user') }}!</h1>

      <main class="dashboard">
        <section class="cards-grid">
          <!-- Card 1: Chamada Presença (todos veem) -->
          <article class="card">
            <h2>Chamada Presença</h2>
            <p>Registre a presença dos crismandos nos encontros.</p>
            <button class="btn" onclick="Openmodalchamada()">Acessar</button>
          </article>

          <article class="card">
            <h2>Edites a chamadas passadas</h2>
            <p>Modifique e visualize chamadas passadas.</p>
            <a href="{{url_for('edit_attendance')}}" class="btn">Acessar</a>
          </article>

          <article class="card">
            <h2>Frequência dos crismandos</h2>
            <p>VIsualize o percentual de frequência dos crismandos nos ultimos 3 encontros.</p>
            <a href="{{url_for('frequency_report')}}" class="btn">Acessar</a>
          </article>

          <article class="card">
            <h2>Turmas</h2>
            <p>Visualize como estão as turmas e Quais crismandos Estão nelas.</p>
            <a href="{{ url_for('view_turmas')}}" class="btn">Acessar</a>
          </article>
          
          <!-- Usando JINJA a partir daqui é renderizada a parte do admin -->
          {% if session.get('admin') == 1 %}
          <!-- Card 4: Configurações (SÓ ADMIN) -->
          <article class="card">
            <h2>Configurações</h2>
            <p>Gerencie usuários, turmas e dados da pastoral.</p>
            <a href="{{ url_for('config_page')}}" class="btn">Configurar</a>
          </article>
          {% endif %}
        </section>
      </main>


      <dialog id="modalchamada">
        {% if encontros %}
        <form action="{{ url_for('requirements_attendance') }}" method="post">
          <p>Selecione um encontro para realizar chamada:</p>
          <select name="openmeetings" id="openmeetings">
            {%for encontro in encontros%}
              <option value="{{encontro.id}}">{{encontro.tema}}</option>
            {%endfor%}
          </select>
          <p>Escolha uma turma para realizar chamada:</p>
          <select name="turmaattendance" id="turmaattendance">
            {%for turma in turmas%}
            <option value="{{turma.id}}">{{turma.turma_name}}</option>
            {%endfor%}
          </select>
          <button type="submit">Pronto!</button>
        </form>
        {%else%}
        <p>Não há encontros disponíveis para realizar chamada, volte depois!</p>
        {%endif%}
        <button onclick="Closemodalchamada()">Cancelar</button>
      </dialog>

    </div>
    <script src="{{url_for('static', filename='scripts/script.js')}}"></script>
  </body>
</html>