<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/StyleLogin.css') }}" />
    <link rel="shortcut icon" href="{{url_for('static', filename='images/faviconcrisma.ico')}}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <img src="{{ url_for('static', filename='images/logocrisma.png')}}" alt="Logo da Crisma">  
    <div class="container-principal">
        <h1>Chamada da crisma</h1>
        <form name="form1" action="{{ url_for('login_user') }}" method="post">

            <label for="nome">Usuário</label>
            <input type="text" name="nome" placeholder="Digite o nome Cadastrado" required>

            <label for="senha">Senha</label>
            <input type="password" name="senha" placeholder="Digite sua senha" required>

            <input type="submit" value="Entrar">
        </form>
            {% if request.args.get('msg1') %}
            <div class="errologin" role="alert">{{ request.args.get('msg1') }}</div>
            {% endif %}
        <a href="{{ url_for('register_page') }}">Criar Conta</a>
    </div>
</body>
</html>