<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar encontros</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/styleconfigadmin.css')}}"
    />
    <link
      rel="shortcut icon"
      href="{{url_for('static', filename='images/faviconcrisma.ico')}}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/stylemanagemeetings.css')}}"
    />   
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <header>
      <div class="header-left">
        <img
          src="{{url_for('static', filename='images/logocrismamaior.png')}}"
          alt="Logo da crisma"
          class="logo"
        />
        <h1 class="title-center" onclick="window.location.href='/homepage'" >Chamada da Crisma</h1>
      </div>
      <form action="{{url_for('logout_user')}}" method="post">
        <button class="button-logout">Sair</button>
      </form>
    </header>
    <main>
      <div class="container-principal">

        {% if msg %}
          <p class="message-managemeetings">{{ msg }}</p>
        {% endif %}

         <h1>Gerenciamento de encontros</h1>
         <button onclick="OpenModalMeetings()">Criar Encontro</button>
         <!--Modal de criação de encontros-->
         <dialog id="modalcreatemeetings">
          <form action="{{url_for('create_meetings')}}" method="post">

            <label for="tema">Digite o tema do Encontro:</label>
            <input type="text" name="tema" required/>

            <label for="meeting-date">Digite a data do Encontro:</label>
            <input type="date" name="meeting-date" required/>

            <button type="submit">Concluir</button>
            <button type="button" onclick="CloseModalMeetings()">Fechar</button>
          </form>
         </dialog>

         <div class="grid">
          {% for encontro in encontros%}
            <div class="meeting">
              <h2>Tema: {{ encontro.tema }}</h2>
              <h2>Data: {{ encontro.meeting_date}}</h2>
              <button onclick="OpenModalEditMeeting({{encontro.id}})">Excluir</button>
            </div>
          {%endfor%}
          </div>

          <dialog id="modaleditmeeting">
            <form action="{{url_for('delete_meeting')}}" method="post">
              <p>OBS: ESTA AÇÃO É IRREVERSÍVEL</p>

              <input type="hidden" id="meeting-id" name="meeting-id">

              <button type="submit">Excluir</button>
              <button onclick="CloseModalEditMeeting()" type="button">Cancelar</button>
            </form>
          </dialog>
      </div>
    </main>
<script src="{{url_for('static', filename='scripts/script.js')}}"></script>
</body>
</html>